.card {
    background-color: var(--color-primary);
    height: 340px;
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    color: var(--white);
	background: linear-gradient(180deg,hsla(0,0%,100%,0),rgba(0,0,0,.5));

&_title {
    position: absolute;
	left: 20px;
	bottom: 20px;
	color: var(--white);
	z-index: 1;
}

&_img {
    width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;

&:hover {
		cursor: pointer;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.50)
	}
}

&:hover .card_img {
		transform: scale(1.1);
    }
}

@media screen and (max-width: 1430px) {
.card {
	aspect-ratio: auto;
	}
}