.card {
    background-color: var(--color-primary);
    height: 340px;
    width: 340px;

    border-radius: 10px;
    color: var(--white);
    background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
}