.collapse {
	display: flex;
	flex-direction: column;

    &_title {
        display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px 10px 15px;
		border-radius: 10px;
        background-color: var(--color-primary);
        color: var(--white);
        height: 52px;
        font-size: 24px;
    }

    &_icon {
        cursor: pointer;
		width: 32px;
		height: 32px;
		transform: rotate(0deg);
		transition: all 0.3s ease-in-out;
    }

    &_content {
		overflow: hidden;
		height: 0;
		background: var(--grey-light-bg);
		color: var(--color-primary);
    }

    &.active > .collapse_content {
		padding: 10px 20px 10px 15px;
		overflow: auto;
		height: auto;
  		transition: all .2s ease-in-out;
	}

    &.active > .collapse_title img {
		transform: rotate(-180deg);
	}
}

@media screen and (max-width: 550px) {
	.collapse_title {
		font-size: 13px;
	}

	.collapse_icon {
		width: 16px;
		height: 16px;
	}

	.collapse_content {
		font-size: 13px;
	}
}