.header {
	align-items: center;
    display: flex;
	justify-content: space-between;
}

.nav-bar {
	color: var(--color-primary);
}

ul {
	display: flex;
	align-items: center;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	gap: 3rem;
}

.active-link {
	text-decoration: underline;
}

.navLinkUnderline {
	text-decoration: underline;
}

@media screen and (max-width: 900px) {

.nav-bar > ul {
			font-size: 1rem;
			gap: 1rem;
}

.logo {
			height: 45px;
}
}

@media screen and (max-width:550px) {
	.header {
		margin: 0 1rem;

		& .nav-bar {
			margin: 1.5rem 0;
		}
	}

}