.header {
	align-items: center;
    display: flex;
	margin: 0 3rem;
    padding-top: 40px;
	justify-content: space-between;
}

.navBar {
	color: var(--color-primary);
}

nav ul {
	display: flex;
	align-items: center;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	gap: 3rem;
}

.active-link {
	text-decoration: underline;
}

.navLinkUnderline {
	text-decoration: underline;
}