:root {
    --color-primary: #FF6060;
    --grey-light-bg: #F6F6F6;
    --white: #FFFFFF;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1, h2, h3, p {
    margin: 0;
}

.page {
    padding: 0 100px;
}

.header,
.banner {
    margin-top: 40px;
}

@media screen and (max-width: 900px) {
    .page {
        padding: 0 19.5px;
    }
}